<br>
<h1 style="margin-left: 30px;">Make appointment: </h1>
<mat-divider></mat-divider>
<br>

<div>
    <form  #f="ngForm"  style="padding-left: 25px;">
    <div>
        <mat-form-field appearance="outline" style="width: 250px;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]= "searchModel.date_field" #date_field = "ngModel" [min]="tomorrow" name="date" readonly required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 280px;padding-left: 20px; padding-right: 20px;">
            <mat-label>Appointment type</mat-label>
            <mat-select [(ngModel)] = "searchModel.appointmentType" name="appointment_type"
                #appointmentType="ngModel"  required >
                <mat-option *ngFor="let a of appointmentTypes" [value]="a" >{{a.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button style="width: 120px" (click)="search()" >Search...</button>

        <br>

        <label id="search_err" style="color:red;visibility: hidden;">There are no clinics maching search criteria.</label>



    </div>

    <div class="mat-elevation-z8" style="width: 800px;float:left;">

        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
              <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
              </ng-container>

            <ng-container matColumnDef="avg_rating">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Average rate </th>
                <td mat-cell *matCellDef="let element"> {{element.avg_rating}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background: transparent !important;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="findDoctors(row)"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

    </div>

    <div style="float: left;display: block;width: 40%;padding-left: 5% ;">
        <mat-expansion-panel  >
            <mat-expansion-panel-header>
            <mat-panel-title>
                More options
            </mat-panel-title>
            <mat-panel-description>
                Type clinic address and average rate
            </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field style="width: 40%;">
            <mat-label>Clinic Address</mat-label>
            <input matInput>
            </mat-form-field>

            <div style="display: block;">
                <mat-form-field style="width: 40%;">
                    <mat-label>Lowest rate</mat-label>
                    <input matInput type="number" min="1">
                </mat-form-field>

                <mat-form-field style="padding-left: 20px ;width: 40%;">
                    <mat-label>Highest rate</mat-label>
                    <input matInput type="number" min="1">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </div>

    </form>
</div>
