<div class="container">
    <div class="row">
        <div class="offset-3"></div>
        <div class="col-md-6">
            <br>
                <h2>Patient's profile</h2>
            <br>
            <form name="form" #f="ngForm" (submit)="f.form.valid && editPatient()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="text" class="form-control"
                        [(ngModel)] = "model.email" name="email_input"
                        #email="ngModel"
                        [ngClass] = "{'is-invalid':f.submitted && email.invalid}"
                        readonly/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Password</label>
                        <input type="password" class="form-control"
                        [(ngModel)] = "model.password" name="inputPassword"
                        #password="ngModel"
                        [ngClass] = "{'is-invalid' : f.submitted && password.invalid}"
                        required minlength="8">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <input type="text" class="form-control"
                        [(ngModel)] = "model.name" name="name_input"
                        #name="ngModel" pattern = "[A-Z][a-z]*"
                        [ngClass] = "{'is-invalid':f.submitted && name.invalid}"
                        required/>
                      <div *ngIf="f.submitted && name.invalid">
                        <div *ngIf="name.errors?.pattern">Name can only have letters!</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Surname</label>
                        <input type="text" class="form-control"
                        [(ngModel)] = "model.surname" name="surname_input"
                        #surname="ngModel" pattern = "[A-Z][a-zA-Z]*"
                        [ngClass] = "{'is-invalid':f.submitted && surname.invalid}"
                        required/>
                      <div *ngIf="f.submitted && surname.invalid">
                        <div *ngIf="surname.errors?.pattern">Surname can only have letters!</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Address</label>
                        <input type="text" class="form-control"
                        [(ngModel)] = "model.address" name="address_input"
                        #address="ngModel" pattern="[A-Za-z0-9 ]*"
                        [ngClass] = "{'is-invalid':f.submitted && address.invalid}"
                        required/>
                      <div *ngIf="f.submitted && address.invalid">
                        <div *ngIf="address.errors?.pattern">Invalid address!</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>City</label>
                        <input type="text" class="form-control"
                        [(ngModel)] = "model.city" name="city_input"
                        #city="ngModel" pattern = "^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                        [ngClass] = "{'is-invalid':f.submitted && city.invalid}"
                        required/>
                      <div *ngIf="f.submitted && city.invalid">
                        <div *ngIf="city.errors?.pattern">Invalid city name!</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Country</label>
                        <input type="text" class="form-control"
                        [(ngModel)] = "model.country" name="country_input"
                        #country="ngModel" pattern = "^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                        [ngClass] = "{'is-invalid':f.submitted && country.invalid}"
                        required/>
                      <div *ngIf="f.submitted && country.invalid">
                        <div *ngIf="country.errors?.pattern">Invalid country name!</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Phone number</label>
                        <input type="text" class="form-control"
                        [(ngModel)] = "model.phone_number" name="phoneNumber_input"
                        #phone_number="ngModel" pattern = "[0-9]{3,3}-[0-9]{3,3}-[0-9]{3,3}"
                        [ngClass] = "{'is-invalid':f.submitted && phone_number.invalid}"
                        required/>
                      <div *ngIf="f.submitted && phone_number.invalid">
                        <div *ngIf="phone_number.errors?.pattern">Invalid phone number!</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Insurance number</label>
                        <input type="text" class="form-control"
                        [(ngModel)] = "model.insurance_number" name="insuranceNum_input"
                        #insurance_number="ngModel" pattern = "/^(?!BG|GB|NK|KN|TN|NT|ZZ)[A-CEGHJ-PR-TW-Z][A-CEGHJ-NPR-TW-Z](?:\s*\d{2}){3}\s*[A-D]$/"
                        [ngClass] = "{'is-invalid':f.submitted && insurance_number.invalid}"
                        required readonly/>
                      <div *ngIf="f.submitted && insurance_number.invalid">
                        <div *ngIf="insurance_number.errors?.pattern">Invalid insurance number!</div>
                      </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="offset-3"></div>
    </div>
</div>
