<mat-toolbar color="primary">

  <span class="material-icons" style="margin-left: 3%;">local_hospital</span>

  <span>eClinic</span>


  <!--Patient-->
  <a *ngIf="checkPatient()" routerLink="/patient/clinics" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Make appointment</button></a>
  <a *ngIf="checkPatient()" routerLink="/patient/viewAllClinics" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Clinics</button></a>
  <a *ngIf="checkPatient()" routerLink="/patient/viewIncomingAppointments" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Incoming appointments</button></a>



  <!--Clinic Admin-->
  <a *ngIf="checkCAdmin()" routerLink="clinicAdmin/addDoctor" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Doctors</button></a>
  <a *ngIf="checkCAdmin()" routerLink="clinicAdmin/addPredefinedAppointment" style="margin-left: 3%;" ><button mat-flat-button color="primary" >Appointments</button></a>
  <a *ngIf="checkCAdmin()" routerLink="clinicAdmin/addAppointmentType" style="margin-left: 3%;" ><button mat-flat-button color="primary" >Appointment types</button></a>
  <a *ngIf="checkCAdmin()" routerLink="clinicAdmin/addHall" style="margin-left: 3%;" ><button mat-flat-button color="primary" >Halls</button></a>
  <a *ngIf="checkCAdmin()" routerLink="clinicAdmin/addNurse" style="margin-left: 3%;" ><button mat-flat-button color="primary" >Nurses</button></a>
  <a *ngIf="checkCAdmin()" routerLink="clinicAdmin/editClinic" style="margin-left: 3%;" ><button mat-flat-button color="primary" >Clinic</button></a>
  <a *ngIf="checkCAdmin()" routerLink="clinicAdmin/pricelistInfo" style="margin-left: 3%;" ><button mat-flat-button color="primary" >Pricelist</button></a>


  <!--ClinicCenterAdmin-->
  <button *ngIf="checkCCAdmin()" button mat-flat-button color="primary" style="margin-left: 3%;" [matMenuTriggerFor]="menu">Administrators</button>
  <mat-menu #menu="matMenu">
    <a *ngIf="checkCCAdmin()" routerLink="clinicCenterAdmin/addClinicAdministrator" style="margin-left: 3%;" ><button mat-flat-button >Clinic Adminstrator</button></a>
    <a *ngIf="checkCCAdmin()" routerLink="clinicCenterAdmin/addClinicCenterAdministrator" style="margin-left: 3%;" ><button mat-flat-button  >Clinic Center Adminstrator</button></a>
  </mat-menu>

  <button *ngIf="checkCCAdmin()" button mat-flat-button color="primary" style="margin-left: 3%;" [matMenuTriggerFor]="menu1">Clinics</button>
  <mat-menu #menu1="matMenu">
    <a *ngIf="checkCCAdmin()" routerLink="clinicCenterAdmin/addClinic" style="margin-left: 3%;" ><button mat-flat-button >Add clinic</button></a>
    <a *ngIf="checkCCAdmin()" routerLink="clinicCenterAdmin/viewClinics" style="margin-left: 3%;" ><button mat-flat-button  >View clinics</button></a>
  </mat-menu>

  <a *ngIf="checkCCAdmin()" routerLink="clinicCenterAdmin/addMedicine" style="margin-left: 3%;" ><button mat-flat-button color="primary" >Medicine</button></a>
  <a *ngIf="checkCCAdmin()" routerLink="clinicCenterAdmin/addDiagnosis" style="margin-left: 3%;" ><button mat-flat-button color="primary" >Diagnosis</button></a>
  <button *ngIf="checkCCAdmin()" button mat-flat-button color="primary" style="margin-left: 3%;" [matMenuTriggerFor]="menu2">Requests</button>
  <mat-menu #menu2="matMenu">
    <a *ngIf="checkCCAdmin()" routerLink="clinicCenterAdmin/requestPatients" style="margin-left: 3%;" ><button mat-flat-button >Patients</button></a>
    <a *ngIf="checkCCAdmin()" routerLink="clinicCenterAdmin/requestLeave" style="margin-left: 3%;" ><button mat-flat-button  >Leave</button></a>
  </mat-menu>

  <!--Doctor-->
  <a *ngIf="checkDoctor()" routerLink="staff/viewPatients" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Patients</button></a>
  <a *ngIf="checkDoctor()" routerLink="staff/viewWorkCalendar" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Work Calendar</button></a>
  <a *ngIf="checkDoctor()" routerLink="staff/makeLeaveRequest" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Leave request</button></a>

  <!--Nurse-->
  <a *ngIf="checkNurse()" routerLink="staff/viewPatients" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Patients</button></a>
  <a *ngIf="checkNurse()" routerLink="staff/viewWorkCalendar" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Work Calendar</button></a>
  <a *ngIf="checkNurse()" routerLink="staff/makeLeaveRequest" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Leave request</button></a>
  <a *ngIf="checkNurse()" routerLink="staff/viewFinishedAppointments" style="margin-left: 5%;" ><button mat-flat-button color="primary" >Finished appointments</button></a>

  <!--Kod svakog proverava koji je user jer svako ima da edituje svoj profil-->
  <span class="example-spacer"> </span>
  <a *ngIf="checkLogged()" href="#" style="margin-left: 2%;" ><mat-icon (click)="logout()" [ngStyle]="{'color':'white'}">exit_to_app</mat-icon></a>
  <a *ngIf="checkLogged()" routerLink="{{this.editProfile}}" style="margin-left: 1%;" ><mat-icon [ngStyle]="{'color':'white'}">face</mat-icon></a>

</mat-toolbar>
