<nav class="navbar navbar-expand-xl navbar-light" style="background-color: lightgray !important;">
      <a class="navbar-brand mb-0 h2" style="padding-left: 4%;padding-top: 2%; font-size: 30px !important;" href="#">
        <img src="assets/img/pic1.png" width="30" height="30" alt="" style="background-color: transparent !important;">
        eClinic
      </a> 
  
      <ul class="nav nav-tabs" style="padding-left: 15%;padding-top: 2%;">
        <li class="active" style="font-size: 20px; padding-left: 10px;">
          <a class="nav-link" style="color: black;" href="#">Home </a>
        </li>
        <li style="font-size: 20px; padding-left: 10px;">
          <a class="nav-link" style="color: black;" href="#">Home</a>
        </li>
        <li style="font-size: 20px; padding-left: 10px;">
          <a class="nav-link" style="color: black;" href="#">Home </a>
        </li>
        <li style="font-size: 20px; padding-left: 10px;">
          <a class="nav-link" style="color: black;" href="#">Home </a>
        </li>
        <li style="font-size: 20px; padding-left: 10px;">
          <a class="nav-link" style="color: black;" href="#">Home </a>
        </li>
      </ul>        
        
</nav>
<div style="color: lightgray;">
    <hr style="background-color: black; width: 55;margin: 0%;">
</div>