<br>
<h1 style="margin-left: 30px;">Add new clinic: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form  #f="ngForm" (submit)="f.form.valid && AddClinic()" style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="[A-Za-z0-9 ]*" required>
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Name can only have letters, numbers and space!
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Address</mat-label>
      <input matInput  [(ngModel)] = "model.address" #address="ngModel"  name="input_address"
             pattern="[A-Za-z0-9 ]*" required>
      <mat-error *ngIf="address.invalid && address.errors?.pattern">
        Address can only have letters, numbers and space!
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Description</mat-label>
      <input matInput  [(ngModel)] = "model.description" #description="ngModel"  name="input_description"
             required>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button >Add clinic</button>


  </form>
</div>
