<br>
<h1 style="margin-left: 30px;">Add new clinic: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form  #f="ngForm" (submit)="f.form.valid && AddClinic()" style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="([A-Z][a-z]+[ ]*){1,}" required>
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Invalid name format! Example: Brooklyn Hospital
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Address</mat-label>
      <input matInput  [(ngModel)] = "model.address" #address="ngModel"  name="input_address"
             pattern="([A-Z][a-z]+[ ]*){1,} [0-9]+" required>
      <mat-error *ngIf="address.invalid && address.errors?.pattern">
        Invalid name format! Example: Saint Patric 5
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Description</mat-label>
      <input matInput  [(ngModel)] = "model.description" #description="ngModel"  name="input_description"
            pattern="([A-Z][a-z]+[ a-z.,0-9]*){1,}" required>
      <mat-error *ngIf="address.invalid && address.errors?.pattern">
        Invalid description format!
      </mat-error>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button >Add clinic</button>


  </form>
</div>
