<br>
<h1 style="margin-left: 30px;">Edit profile: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form  #f="ngForm" (submit)="f.form.valid && checkPassword() && editClinicCenterAdmin()" style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="[A-Z][a-z]*" required>
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Invalid name format! Example: Mike
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
      <mat-label>Surname</mat-label>
      <input matInput  [(ngModel)] = "model.surname" #surname="ngModel" name="input_surname"
             pattern= "[A-Z][a-z]*" required>
      <mat-error *ngIf="surname.invalid && surname.errors?.pattern">
        Invalid surname format! Example: Portman
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Email</mat-label>
      <input matInput
             [(ngModel)] = "model.email" name="input_email"
             #email="ngModel" pattern="[a-z]+[a-z0-9._]*[a-z0-9]+@[a-z]*.com"
             required [disabled]="true">
      <mat-error *ngIf=" email.invalid">
        Invalid email format! Example: example_1@mail.com
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
      <mat-label>New password</mat-label>
      <input matInput  [(ngModel)] = "model.password" #password="ngModel" name="input_password"
             [type]="hide ? 'password' : 'text'"
             [requiredLen]="checkPassword()">

      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid">
        Password field must be at least 8 characters long!
      </mat-error>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button >Update profile</button>


  </form>
</div>
