<br>
<h2 style="margin-left: 30px;">Choose doctor: </h2>
<mat-divider></mat-divider>
<br>
<div>
  <div>
    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Doctor's name: </mat-label>
      <input matInput [(ngModel)] = searchModel.name name="doctor_name" #name="ngModel"/>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Doctor's surname: </mat-label>
      <input matInput [(ngModel)] = searchModel.surname name="doctor_surname" #surname="ngModel"/>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Rate from: </mat-label>
      <input matInput [(ngModel)] = searchModel.rateFrom name="doctor_rfrom" #rateFrom="ngModel"/>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Rate to: </mat-label>
      <input matInput [(ngModel)] = searchModel.rateTo name="doctor_rto" #rateTo="ngModel"/>
    </mat-form-field>

    <button mat-raised-button style="width: 120px" (click)="search()" >Search...</button>

    <br>

    <label id="search_err" style="color:red;visibility: hidden;">There are no doctors matching search criteria.</label>

  </div>

  <div class="mat-elevation-z8" style="width: 800px;float:left;margin-left: 30px;">

      <table mat-table [dataSource]="dataSource" >

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="surname">
              <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Surname </th>
              <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
            </ng-container>

          <ng-container matColumnDef="avg_rating">
              <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Average rate </th>
              <td mat-cell *matCellDef="let element"> {{element.average_rate}} </td>
          </ng-container>

          <ng-container matColumnDef="times">
              <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Times </th>
              <td mat-cell *matCellDef="let element" > <mat-select [(ngModel)]="element.time" #time="ngModel" required >
                  <mat-option *ngFor="let a of element.available_times" [value]="a" >{{a}}</mat-option>
              </mat-select></td>
          </ng-container>

        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">  <button mat-button (click)="Check(element)" >Check out</button>
          </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background: transparent !important;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

  </div>
</div>
