<br>
<h1 style="margin-left: 30px;">Add new doctor: </h1>
<mat-divider></mat-divider>
<br>

<div style="display: block;">
  <form  #f="ngForm" (submit)="addDoctor()" style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="[A-Z][a-z]*" required>
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Invalid name format! Example: Mike
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
      <mat-label>Surname</mat-label>
      <input matInput  [(ngModel)] = "model.surname" #surname="ngModel" name="input_surname"
             pattern="[A-Z][a-z]*" required>
      <mat-error *ngIf="surname.invalid && surname.errors?.pattern">
        Invalid surname format! Example: Portman
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Email</mat-label>
      <input matInput
             [(ngModel)] = "model.email" name="input_email"
             #email="ngModel" pattern="[a-z]+[a-z0-9._]*[a-z0-9]+@[a-z]*.com"
             required/>
      <mat-error *ngIf=" email.invalid">
        Invalid format! Example: example_1@mail.com
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
      <mat-label>Password</mat-label>
      <input matInput  [(ngModel)] = "model.password" #password="ngModel" name="input_password"
             required minlength="8"
             [type]="hide ? 'password' : 'text'">

      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid" style="width: 250px;">
        Password must be at least 8 characters long!
      </mat-error>
    </mat-form-field> 

    <br>

    <mat-form-field appearance="outline" style="width: 250px;" >
      <input [(ngModel)] = "model.workEnd" name="input_workEnd"
      #workEnd="ngModel" matInput placeholder="Work start" aria-label="24hr format" [ngxTimepicker]="fullTime1" [format]="24"  readonly required>
    </mat-form-field>

    <ngx-material-timepicker #fullTime1></ngx-material-timepicker>

    <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;" >
      <input [(ngModel)] = "model.workStart" name="input_workStart"
      #workStart="ngModel" matInput placeholder="Work end" aria-label="24hr format" [ngxTimepicker]="fullTime2" [format]="24"  readonly required>
    </mat-form-field>

    <ngx-material-timepicker #fullTime2></ngx-material-timepicker>

    <br>

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Appointment type</mat-label>
      <mat-select  [(ngModel)] = "model.appointment_type_id" name="input_appointmentType" #appointmentType="ngModel" required>
        <mat-option  *ngFor="let a of appointmentTypes" [value]="a.id"> {{a.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button >Add doctor</button>



  </form>

  <!--<table mat-table [dataSource]="dataSource" style="float: left;" >

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Number </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element" (click)="deleteHall(element)" style="width: 150px;"><span class="fake-link"><mat-icon [ngStyle]="{'color':'red'}">clear</mat-icon></span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

</table>

<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
-->
</div>
