<div class="container">
    <div class="row">
      <div class="offset-3"></div>
      <div class="col-md-6">
    <br>
        <h2>Add hall form</h2>
    <br>
    <form name="form" #f="ngForm" (submit)="f.form.valid && AddHall()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Hall name</label>
        <input type="text" class="form-control"
        [(ngModel)] = "model.name" name="name_input"
        #name="ngModel" pattern = "[A-Z][a-z]*"
        [ngClass] = "{'is-invalid': f.submitted && name.invalid}"
        required/>
      </div>
      <div class="form-group col-md-6">
        <label>Number</label>
        <input type="text" class="form-control"
        [(ngModel)] = "model.number" name="number_input"
        #number="ngModel" pattern = "[0-9]*"
        [ngClass] = "{'is-invalid' : f.submitted && number.invalid}"
        required/>
      </div>
    </div>
    <div class="form-group">
      <label>Clinic administrator</label>
      <input type="text" class="form-control"
       [(ngModel)] = "model.admin" name="clinic_admin"
       #username="ngModel"
       [ngClass] = "{'is-invalid' : f.submitted}"
       readonly/>
    </div>
    <button type="submit" class="btn btn-primary">Add hall</button>
    </form>
</div>
<div class="offset-3"></div>
</div>
</div>
