<br>
<h1 style="margin-left: 30px;">Add new hall: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form  #f="ngForm" (submit)="f.form.valid && AddHall()" style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="([A-Z][a-z]+[ ]*){1,}" required>
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Invalid name format! Example: Operation Hall
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
      <mat-label>Number</mat-label>
      <input matInput  [(ngModel)] = "model.number" #number="ngModel"  name="input_number"
             pattern="[0-9]*" required>
      <mat-error *ngIf="number.invalid && number.errors?.pattern">
        Invalid number format! Example: 5
      </mat-error>
    </mat-form-field>

    <br>

    <button mat-raised-button style="margin-left: 25px;" >Save hall</button>

    <br>

    <div class="mat-elevation-z8" style="width: 650px;float:left;">

      <table mat-table [dataSource]="dataSource" >

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef> Number </th>
              <td mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>

          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let element" (click)="deleteHall(element)" style="width: 150px;"><span class="fake-link"><mat-icon [ngStyle]="{'color':'red'}">clear</mat-icon></span></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

     </div>

  </form>
</div>
