table {
    width: 100%;
  }
mat-form-field {
    width: 100%;
  }
  
.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.gray {
  background-color: gray;
}

md-dialog .md-actions .md-button.md-icon-button {
  margin-top: 0;
  margin-bottom: 0;
}