<br>
<h1 style="display:inline;margin-left: 43%;">Change password: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form  #f="ngForm" (submit)="f.form.valid && checkPassword() && changePassword()" style="display: inline-block;margin-right: auto;margin-left: 30%; padding-top: 5%; padding-bottom: 5% ;width: 40%">


    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Password</mat-label>
      <input matInput  [(ngModel)] = "model.password" #password="ngModel" name="input_password"
             required minlength="8"  [type]="hide ? 'password' : 'text'"/>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid">
        Password field must be at least 8 characters long!
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
      <mat-label>Confirm password</mat-label>
      <input matInput  [(ngModel)] = "model.password2" #password="ngModel" name="input_password2"
             required minlength="8"  [type]="hide1 ? 'password' : 'text'"/>
      <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid">
        Comfirm password field must be at least 8 characters long!
      </mat-error>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button >Change password</button>


  </form>
</div>
