<br>
<h1 style="margin-left: 30px;">Reports</h1>
<mat-divider></mat-divider>
<br>

<div style="margin-top: 2%;">
  <div style="float: left; width: 100%">

      <span style="float: left">
    <mat-form-field appearance="outline" style="padding-left: 25px;  width: 250px;">
      <mat-label>Clinic</mat-label>
      <input matInput [disabled]="true" [(ngModel)] = "reportRes.clinic_name" name="input_clinic"
             required>
    </mat-form-field>
     <mat-form-field appearance="outline" style=" padding-left: 25px; width: 250px;">
      <mat-label>Average rate</mat-label>
      <input matInput [disabled]="true" [(ngModel)] = "reportRes.clinicAverageRate" name="input_avg_rate"
             required>
    </mat-form-field>
        <br>

         </span>
    <span style="float: left">
    <mat-form-field appearance="outline" style=" padding-left: 25px; width: 250px;">
    <mat-label>From</mat-label>
      <input [(ngModel)] = "sendModel.from" name="input_from"
             #from="ngModel" matInput [matDatepicker]="picker" readonly required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style=" padding-left: 25px; width: 250px;">
    <mat-label>To</mat-label>
      <input [(ngModel)] = "sendModel.to" name="input_to"
             #to="ngModel" matInput [matDatepicker]="picker1" readonly required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 ></mat-datepicker>
    </mat-form-field>
  </span>

    <br>

    <span style="float: left">

      <button style="left: 75px" type="button" mat-raised-button (click)="report()" >Get report</button>

    <mat-form-field appearance="outline" style="left: 150px; padding-left: 25px; width: 250px;">
      <mat-label>Income</mat-label>
     <input matInput [disabled]="true" [(ngModel)] = "incomeClinic"  name="input_income"
               required>
    </mat-form-field>
    </span>
  </div>

</div>


<div class="mat-elevation-z8" style="width: 50%;float:right; margin-top: 2%;">

  <table mat-table [dataSource]="dataSource" >

    <ng-container matColumnDef="name" style="width: 300px;">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname" style="width: 300px;">
      <th mat-header-cell *matHeaderCellDef> Surname </th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="email" style="width: 300px;">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="avg_rate" style="width: 300px;">
      <th mat-header-cell *matHeaderCellDef> Average </th>
      <td mat-cell *matCellDef="let element"> {{element.average_rate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

</div>
