
<div style="display:inline;">
    <mat-tab-group style="margin-left: auto; margin-right : auto;width: 50%;padding-top: 2%" appearance="outline">
        <mat-tab label="Login">
        <div>
            <form  #f="ngForm" (submit)="loginAuth()" style="display: inline-block;margin-right: auto;margin-left: auto; padding-top: 5%; padding-bottom: 5% ;width: 37%">

                <mat-error id="validation" style="display: none;padding-left:86%; width: 180%">
                  Email or password are incorrect.
                </mat-error>

                <br>

                <mat-form-field appearance="outline" style="padding-left:80%; width: 180%">
                    <mat-label>Email</mat-label>
                    <input matInput  [(ngModel)] = "myModel.email" name="input_email"
                    #email="ngModel" pattern="[a-z]+[a-z0-9._]*[a-z0-9]+@[a-z]*.com"
                    required/>
                    <mat-error *ngIf=" email.invalid">
                        Example: example_1@mail.com
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="padding-left:80%; width: 180%">
                    <mat-label>Password</mat-label>
                    <input matInput  [(ngModel)] = "myModel.password" #password="ngModel" name="input_password"
                            required minlength="8"
                            [type]="hide ? 'password' : 'text'">

                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="password.invalid">
                        Password field must be at least 8 characters long!
                    </mat-error>

                </mat-form-field>
                <div style="text-align: center;">
                    <button mat-raised-button style="margin-left: 110%; width: 100px;" >Login</button>

                </div>

            </form>
        </div>
        </mat-tab>
        <mat-tab label="Registration">
          <div >
            <form  #f1="ngForm" (submit)="f1.form.valid && checkPassword() && registerPatient()" style="padding-left: 23%;padding-bottom: 2%;padding-top: 3%;">

              <mat-form-field appearance="outline" style="width: 250px;">
                <mat-label>Name</mat-label>
                <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
                       pattern="[A-Z][a-z]*" required/>
                <mat-error *ngIf="name.invalid && name.errors?.pattern">
                  Invalid name format! Example: Mike
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
                <mat-label>Surname</mat-label>
                <input matInput  [(ngModel)] = "model.surname" #surname="ngModel" name="input_surname"
                       pattern= "[A-Z][a-z]*" required/>
                <mat-error *ngIf="surname.invalid && surname.errors?.pattern">
                  Invalid surname format! Example: Portman
                </mat-error>
              </mat-form-field>

              <br>

              <mat-form-field appearance="outline" style="width: 250px;">
                <mat-label>Password</mat-label>
                <input matInput  [(ngModel)] = "model.password" #password="ngModel" name="input_password"
                       required minlength="8"  [type]="hide1 ? 'password' : 'text'"/>
                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password.invalid">
                  Password field must be at least 8 characters long!
                </mat-error>
              </mat-form-field>


              <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
                <mat-label>Confirm password</mat-label>
                <input matInput  [(ngModel)] = "password2" #password="ngModel" name="input_password2"
                       required minlength="8"  [type]="hide2 ? 'password' : 'text'"/>
                <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password.invalid">
                  Password field must be at least 8 characters long!
                  </mat-error>
              </mat-form-field>

              <br>

              <mat-form-field appearance="outline" style="width: 250px;">
                <mat-label>Email</mat-label>
                <input matInput
                       [(ngModel)] = "model.email" name="input_email"
                       #email="ngModel" pattern="[a-z]+[a-z0-9._]*[a-z0-9]+@[a-z]*.com"
                       required/>
                <mat-error *ngIf=" email.invalid">
                  Invalid email format! Example: example_1@mail.com
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
                <mat-label>Address</mat-label>
                <input matInput  [(ngModel)] = "model.address" #address="ngModel"  name="input_address"
                       pattern="([A-Z][a-z]+[ ]*){1,}[0-9]+" required/>
                <mat-error *ngIf="address.invalid && address.errors?.pattern">
                  Invalid address format! Example: Saint Patric 5
                </mat-error>
              </mat-form-field>

              <br>

              <mat-form-field appearance="outline" style=" width: 250px;">
                <mat-label>City</mat-label>
                <input matInput  [(ngModel)] = "model.city" #city="ngModel" name="input_city"
                       pattern=  "^([A-Z][a-z]+[ ]*){1,}" required/>
                <mat-error *ngIf="city.invalid && city.errors?.pattern">
                  Invalid city name! Example: New York
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" style=" padding-left: 25px;width: 250px;">
                <mat-label>Country</mat-label>
                <input matInput  [(ngModel)] = "model.country" #country="ngModel"  name="input_country"
                       pattern= "([A-Z][a-z]+[ ]*){1,}" required/>
                <mat-error *ngIf="country.invalid && country.errors?.pattern">
                  Invalid country name! Example: New York
                </mat-error>
              </mat-form-field>

              <br>

              <mat-form-field appearance="outline" style="width: 250px;">
                <mat-label>Phone number</mat-label>
                <input matInput  [(ngModel)] = "model.phone_number" #phone_number="ngModel" name="input_phone_number"
                       pattern= "[0-9]{3,3}-[0-9]{3,3}-[0-9]{3,3}" required/>
                <mat-error *ngIf="phone_number.invalid && phone_number.errors?.pattern">
                  Invalid phone number! Example: 063-478-856
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" style="padding-left: 25px; width: 250px;">
                <mat-label>Insurance number</mat-label>
                <input matInput  [(ngModel)] = "model.insurance_number" #insurance_number="ngModel" name="input_insurance_number"
                       pattern= "[A-Z0-9]+" required/>
                <mat-error *ngIf="insurance_number.invalid && insurance_number.errors?.pattern">
                  Invalid insurance number! Example: ABC123
                </mat-error>
              </mat-form-field>
              <br>
              <br>
              <div style="text-align: center;">
                <button mat-raised-button style="margin-right: 31%; width: 100px;" >Register</button>

            </div>

              <br>
            </form>
          </div>
        </mat-tab>
    </mat-tab-group>
</div>
