table {
    width: 100%;
  }
mat-form-field {
    width: 100%;
  }
  
table tr:hover{
    background: rgb(228, 228, 228); 
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.mat-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 35% !important;
    width: 35% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;

  }