<br>
<h1 style="margin-left: 30px;">Add new appointment: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form class="example-form" name="form" #f="ngForm" (submit)="addAppointmentType()" style="padding-left: 25px;">
    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Pick a name</mat-label>
      <input [(ngModel)]="model.name" name="appointment_name" matInput>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button >Add appointment</button>



  </form>
</div>