<br>
<h1 style="margin-left: 30px;">Add new appointment: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form name="form" #f="ngForm" (submit)="addAppointmentType()" style="padding-left: 25px;">
    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Pick a name</mat-label>
      <input [(ngModel)]="model.name" name="appointment_name" matInput pattern="[A-Z][a-z]*" required>
    </mat-form-field>

    <br>

    <button mat-raised-button >Add appointment</button>

    <br>

    <div class="mat-elevation-z8" style="width: 600px;float:left;margin-top: 2%;">

      <table mat-table [dataSource]="dataSource" >

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name" style="width: 300px;">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element" (click)="deleteAppointmentType(element)" style="width: 150px;"><span class="fake-link"><mat-icon [ngStyle]="{'color':'red'}">clear</mat-icon></span></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectionChanged(row)" ></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

    </div>
  </form>

  <div>
  <form name="form" #f="ngForm" (submit)="search()" style="padding-right: 25px;">
    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Search</mat-label>
      <input [(ngModel)]="searchModel.search_input" name="search_input" matInput>
    </mat-form-field>
    <br>
    <button mat-raised-button >Search</button>
  </form>
  </div>

  <div style="float: left;display: block;width: 40%;padding-left: 8% ; margin-top: 2%;">
    <mat-expansion-panel #expanel [disabled]="isDisabled" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            Edit appointment type
        </mat-panel-title>
        <mat-panel-description>
            Select appointment type to enable!
        </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field style="width: 40%;">
        <mat-label>Clinic name</mat-label>
        <input [(ngModel)]="currentlySelected.name" matInput>
        </mat-form-field>

        <br>

        <button mat-raised-button (click)="editSubbmited()" >Save changes</button>

    </mat-expansion-panel>
</div>

</div>
