<br>
<h1 style="margin-left: 30px;">Add new appointment: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form name="form" #f="ngForm" (submit)="addAppointmentType()" style="padding-left: 25px;">
    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Pick a name</mat-label>
      <input [(ngModel)]="model.name" name="appointment_name" matInput pattern="[A-Z][a-z]*" required>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button >Add appointment</button>

    <div class="mat-elevation-z8" style="width: 650px;float:left;margin-top: 2%;">

      <table mat-table [dataSource]="dataSource" >

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element" (click)="deleteAppointmentType(element)" style="width: 150px;"><span class="fake-link"><mat-icon [ngStyle]="{'color':'red'}">clear</mat-icon></span></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>



  </form>
</div>
