<br>
<h1 style="margin-left: 30px;">Add new medicine: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form  #f="ngForm" (ngSubmit)=" f.form.valid && onSubmit(buttonType)" class="example-form" style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="[A-Za-z ]*" required>
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Name can only have letters, numbers and space!
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Description</mat-label>
      <input matInput  [(ngModel)] = "model.description" #description="ngModel"  name="input_description"
             required>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button  (click)="onSubmit('Add')">Add medicine</button>
    <br> <br>
    <button mat-raised-button (click)="onSubmit('Leave')" >Add medicine and leave</button>


  </form>
</div>
