<br>
<h1 style="margin-left: 30px;">Add new medicine: </h1>
<mat-divider></mat-divider>
<br>

<div >
  <form  #f="ngForm" (ngSubmit)=" f.form.valid && onSubmit(buttonType)" style="padding-left: 25px;">

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)] = "model.name" #name="ngModel"  name="input_name"
             pattern="([A-Z][a-z]+[ ]*){1,}" required>
      <mat-error *ngIf="name.invalid && name.errors?.pattern">
        Invalid medicine name format!
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" style="width: 250px;">
      <mat-label>Description</mat-label>
      <input matInput  [(ngModel)] = "model.description" #description="ngModel"  name="input_description"
            pattern="([A-Z][a-z]+[ a-z.,0-9]*){1,}" required>
      <mat-error *ngIf="description.invalid && description.errors?.pattern">
        Invalid medicine description format!
      </mat-error>
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button  (click)="onSubmit('Add')">Add medicine</button>
    <br> <br>
    <button mat-raised-button (click)="onSubmit('Leave')" >Add medicine and leave</button>


  </form>
</div>
